.bg__glass
    @include media-breakpoint('md')
        background: rgba(20,20,20,.3) !important
        backdrop-filter: blur(7px) !important

.bg__light-glass
    @include media-breakpoint('md')
        background: rgba(240,240,240,.75) !important
        backdrop-filter: blur(8px) !important

.bg__dark-glass
    @include media-breakpoint('md')
        background: rgba(7,7,7,.75) !important
        backdrop-filter: blur(8px) !important

.bg__blue
    background: $color-blue

.bg__darkblue
    background: $color-darkBlue

.bg__white
    background: $color-white

.bg__white
    background: $color-white