.hero
    background: url('../img/index/header/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: right 0

    @include media-breakpoint('sm')
        background: url('../img/index/header/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position-x: center

    @include media-breakpoint('xl')
        background: url('../img/index/header/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: right 0

.build-cards
    background: url('../img/index/build-cards/background.jpg')
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: center

.iconic-projects
    background: url('../img/index/iconic-projects/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @include media-breakpoint('sm')
        background: url('../img/index/iconic-projects/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

.our-course
    background: url('../img/index/our-course/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @include media-breakpoint('sm')
        background: url('../img/index/our-course/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

.footer
    .footer__content
        .content__top
            background: url('../img/index/cta/background.jpg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center

        .content__bottom
            background: url('../img/index/footer/background-mobile.jpg')
            background-repeat: no-repeat
            background-size: 100dvh 100%
            background-position: center

            @include media-breakpoint('sm')
                background: url('../img/index/footer/background.jpg')
                background-repeat: no-repeat
                background-size: 100dvw 100%
                background-position: center
